.actionsContainer {
  margin: 15px 0;
}

.addButton {
  width: 100%;
  margin: 10px 0 !important;
}

.actionSelect {
  width: 100%;
  margin: 6px 0;
}

@media (min-width: 600px) {
  .actionsContainer {
    display: flex;
  }
  .actionSelect {
    flex-grow: 1;
    margin: 0 10px 0 0;
  }
}
