.specsTable {
    border-collapse: collapse;
    width: 100%;
}

.specsTable td,
.specsTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.specsTable tr:nth-child(even){background-color: #edf8f7;}

.specsTable tr:hover {background-color: #dceff5;}

.specsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #22577E;
    color: white;
  }