.productBox {
    appearance: none;
    display: flex;
    flex-direction: column;
    flex: 1 0 21%;
    justify-content: space-between;
    padding: 20px 15px;
    text-decoration: none;
    width: 100%;
    min-width: 180px;
    color: rgb(11, 11, 63);
}

.productBoxImage {
    height: auto;
    width: 70%;
    margin: 20px;
    max-width: 200px;
    align-self: center;
}

.cardContentInfo {
    height: 85px;
}

.brand,
.model,
.price,
.sold-out {
    margin: 0 0 4px;
}

.model {
    font-size: 1.1rem;
}

.brand {
    font-size: 0.7rem;
    text-transform: uppercase;
}

.sold-out {
    color: #777;
    font-size: 0.9rem;
}

.price {
    color: #943a01;
    font-weight: 800;
    font-size: 1.3rem;
}
