.productBox {
  flex: 1 0 21%;
  padding: 7px;
  min-width: 160px;
  text-decoration: none;
  color: "inherit";
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productBoxImage {
  height: auto;
  width: 65%;
  margin: 10px;
  max-width: 200px;
}

.cardContent__Info {
  display: flex;
  width: 90%;
  height: 85px;
  text-align: "left";
}

@media (min-width: 600px) {
}
